<h1>Connexion</h1>



<p><u>Entre tes identifiants</u></p>
    <%= form_for $user_log, url: {action: "log"} do |f| %>
      <%= label_tag 'email:' %>
      <%= f.text_field :email, placeholder:"Ton email" %>
      <br><br>
      <%= label_tag 'password:' %>
      <%= f.text_field :password, placeholder:"Ton mot de passe"%>
      <br><br>
      <%= f.submit "Submit" %>
    <% end %>

<br><br>
<p>Tu peux essayer ça : <br>
  email : <%= @user_test.email %><br>
  mot de passe : <%= @user_test.password %></p>
