<<<<<<< HEAD
<p><u>User creation</u></p>
<%= form_for @user, url: {action: "create"} do |f| %>
  <%= label_tag 'name:' %>
  <%= f.text_field :name %>
  <br><br>
  <%= label_tag 'email:' %>
  <%= f.text_field :email %>
  <br><br>
  <%= label_tag 'password:' %>
  <%= f.text_field :password %>
  <br><br>
  <%= f.submit "Submit" %>
<% end %>
=======
<h1>Création d'un compte</h1>


<p>Entre tes infos</p><br>


  <%= form_for @user, url: {action: "create"} do |f| %>
    <%= label_tag 'name:' %>
    <%= f.text_field :name, placeholder: "Name" %>

<br>
    <%= label_tag 'email:' %>
    <%= f.text_field :email, placeholder: "Email"%>
<br>

    <%= label_tag 'password:' %>
    <%= f.text_field :password, placeholder: "Password" %>
<br>

    <%= f.submit "Submit" %>
  <% end %>
>>>>>>> d87b28354011d8e9a3ea15316dde2d53c65ffbf9
