
<h1>Bienvenue sur The Gossip Project</h1>
<br><br>

<p>Tu veux découvrir les meilleurs potins de la toile ? Crée ton compte dès maintenant !</p>
<p><a href="/user/new"><button type="button" name="button">Sign up</button></a></p>

<br><br>

<p>Tu es déja inscrit ?</p>
<p><a href="/registration/new"><button type="button" name="button">Sign in</button></a></p>

<br><br><br><br>
<h1>Voici la liste des utilisateurs déjà enregistrés</h1>
<p>Tu vois les mots de passes comme ça tu peux tester le Sign In</p>
  <% @users.each do |user| %>
  	<%= user.name %> , <%= user.email %> , <%= user.password %><br>
  <% end %>

<br><br><br><br>
<h1>Voici le dernier Gossip créé</h1>
  <%= @gossip_last.content %> par <%= @gossip_last.user.name %>
