
<h1>Bienvenue sur The Gossip Project</h1>
<br><br>

<p>Tu veux découvrir les meilleurs potins de la toile ? Crée ton compte dès maintenant !</p>
<p><a href="/user/new"><button type="button" name="button">Sign up</button></a></p>

<br><br>

<p><a href="/user/new">Sign up</a></p>


<h1>Liste des utilisateurs enregistrés</h1>
  <% @users.each do |user| %>
  	<%= user.name %> , <%= user.email %> , <%= user.password %><br>
  <% end %>

<h1>Dernier Gossip créé</h1>
  <%= @gossip_last.content %> par <%= @gossip_last.user.name %>
